{% extends 'core/base.html' %}

{% block title %}Login{% endblock %}

{% block content%}
<div class="max-w-lg mx-auto flex items-center justify-center py-12 px-6">
    <div class="w-full bg-gray-100 p-6 rounded-xl">
        <h1 class="mb-6 text-2xl">Log In</h1>

        <form method="post" action="." class="space-y-4">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="p-4 bg-red-200 text-red-800 rounded-xl">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div>
                <label class="font-semibold">Username</label>
                <input type="text" name="username" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            <div>
                <label class="font-semibold">Password</label>
                <input type="password" name="password" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            <div>
                <button class="py-4 px-8 rounded-xl text-white bg-purple-500 hover:bg-purple-700">Submit</button>
            </div>

            <div class="mt-6 text-left">
                <p>Don't have an account? <a href="{% url 'signup' %}" class="text-purple-500 hover:text-purple-700">Sign up here!</a></p>
            </div>
        
        </form>
    </div>
</div>
{% endblock %}